body {
    background-color: black;
    font-family: arial;
    color: white;
}
h1 {
    color: gray;
    font-family: Verdana;
}

footer {
    float: left;
}

form {
    display: table;
}

p {
    display: table-row;
}

input {
    display: table-cell;
}

button {
    cursor: pointer;
}

label {
    display: table-cell;
    text-align: left;
}

#rate {
    position: relative;
}
.spanRate {
    font-size: .75rem;
    position: absolute;
}
select {
    display: table-cell;
    float: right;
}

.formdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.maindiv {
    background-color: white;
    color: black;
    padding: 20px;
    width: 500px;
    border-radius: 25px;
    margin: auto;
    /* display: block; */
    text-align: center;
}

.highlight {
    background-color: yellow;
}
